body {
    background-color: #F3F4F6;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #464646;
    width: 400px;
    height: 100vh;
    justify-content: stretch; 
    align-items: stretch;
    text-align: center;         
}

.navbar a {
    flex: 1;   
    display: flex;   
    align-items: center;
    justify-content: flex-start;
    color: #F2ECE0;
    text-decoration: none;
    padding: 0 50px;      
    font-size: 30px;
    border-radius: 8px;
    box-sizing: border-box;
}

.nav-links a.active {
    background: linear-gradient(135deg, #00C6FF 0%, #0072FF 100%);
    color: #ffffff;
}


.Logo {
    display: flex;
    align-items: center;
    object-fit: cover;
    justify-content: center;
    height: 250px;
}

.navbar img {
    width: 350px;
    height: auto; 
}

.welcome {
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

.dashboard {
    display: flex;
    flex-direction: row; 
    gap: 20px;
    width: 100%;
    margin: 100px 0;
}

.left, .right {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 600px;
    padding: 20px;
}

.left, .right h1 {
    color: #0ABDCC;
}

.btn {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 1;
    justify-content: stretch;
    align-items: stretch;
}